
    .swiper {
      max-width: 1920px;
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 30px;
      background: #903e3e;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50rem;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-prev, .swiper-button-next{
        border-radius: 10px;
        background-color: aliceblue;
        padding: 10px;
    }

    @media screen and (max-width: 581px){
        
      
      .swiper-button-prev, .swiper-button-next{
          width: 50px;
          height: 5dvh;
        background-color: transparent;
    }

      .swiper {
      max-width: 100%;
      display: flex;
      justify-content: center;

    }

      .swiper-slide img {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    }
