    /* Fundo escuro do modal */
    .overlay {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 11;
    }

    .overlay.active {
      visibility: visible;
      opacity: 1;
    }

    /* Caixa do modal */
    .overlay .modal {
      position: relative;
      border-radius: 15px;
      text-align: center;
      width: 400px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      animation: slideDown 0.3s ease;
      margin: 0 10px;
    }

    @keyframes slideDown {
      from { transform: translateY(-50px); opacity: 0; }
      to { transform: translateY(0); opacity: 1; }
    }

    .modal h2 {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    /* Botões das regiões */
    .modal button {
      display: block;
      width: 100%;
      margin: 8px 0;
      padding: 12px;
      border: none;
      border-radius: 25px;
      background: linear-gradient(180deg, #f39c12, #e67e22);
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .modal button:hover {
      background: linear-gradient(180deg, #e67e22, #d35400);
    }

    /* Botão de fechar */
    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 25px;
      font-weight: bold;
      color: #ffffff;
      cursor: pointer;
      background-color: rgb(75, 75, 75, 0.7);
      padding: 3px 8px;
      border-radius: 50%;
    }

    .overlay .modal .modal-banner{
        width: 100%; 
        height: 100%;
    }