@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

main {
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 100%;
  padding: 0rem 0px;
}
.agradecimento {
  margin: 0px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementos {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  gap: 2rem;
}

.textos {
  width: 400px;
  height: 100%;
}

.textos h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #180081;
}

.textos p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 20px;
}

.agradecimento .elementos .textos a button {
  margin-top: 2rem;
  padding: 15px 0px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #180081;
  cursor: pointer;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.agradecimento .elementos .textos a button:hover {
  transition: all 0.5s;
  background-color: #2301b8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.elementos .img i {
  font-size: 20.5rem;
  color: #180081;
}

/* --- parte responsiva --- */

@media screen and (max-width: 884px) {
  .agradecimento {
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 840px) {
  .agradecimento {
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 834px) {
  /*ok*/
}
@media screen and (max-width: 820px) {
  /*ok*/
}
@media screen and (max-width: 800px) {
  /*ok*/
}

@media screen and (max-width: 768px) {
  .agradecimento {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 608px) {
  .agradecimento {
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 10px;
  }

  .elementos {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .textos {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .textos h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #180081;
  }

  .agradecimento .elementos .textos a button {
    margin-top: 2rem;
    padding: 15px 0px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #180081;
    cursor: pointer;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 581px) {
  /*ok*/
}

@media screen and (max-width: 575px) {
  /*ok*/
}

@media screen and (max-width: 573px) {
  /*ok*/
}

@media screen and (max-width: 542px) {
  /*ok*/
}

@media screen and (max-width: 526px) {
  /*ok*/
}

@media screen and (max-width: 480px) {
  /*ok*/
}

@media screen and (max-width: 468px) {
  /*ok*/
}

@media screen and (max-width: 440px) {
  /*ok*/
}

@media screen and (max-width: 430px) {
  /*ok*/
}

@media screen and (max-width: 428px) {
  /*ok*/
}

@media screen and (max-width: 427px) {
  /*ok*/
}

@media screen and (max-width: 414px) {
  /**/
}

@media screen and (max-width: 393px) {
  /*ok*/
}

@media screen and (max-width: 390px) {
  /*ok*/
}

@media screen and (max-width: 379px) {
  /*ok*/
}

@media screen and (max-width: 375px) {
  /*ok*/
}

@media screen and (max-width: 371px) {
  /*ok*/
}

@media screen and (max-width: 360px) {
  /*ok*/
}

@media screen and (max-width: 320px) {
  /*ok*/
}
